<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>模块列表</title>
<link rel="stylesheet" type="text/css" href="$SERVER_CONTEXT/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="$SERVER_CONTEXT/css/flat-ui.css">
<link rel="stylesheet" type="text/css" href="$SERVER_CONTEXT/css/base.css">

</head>
<body>
	<div class="container">
		<div class="row">
			<div data="1" class="moduleDiv">
				<img class="img-responsive" src="$SERVER_CONTEXT/img/5.jpg">
			</div>
		</div>
		<div class="row">
			<div data="2" class="moduleDiv">
				<img class="img-responsive" src="$SERVER_CONTEXT/img/6.jpg">
			</div>
		</div>
		<div class="row">
			<div data="3" class="moduleDiv">
				<img class="img-responsive" src="$SERVER_CONTEXT/img/7.jpg">
			</div>
		</div>
		<div class="row">
			<div data="4" class="moduleDiv">
				<img class="img-responsive" src="$SERVER_CONTEXT/img/8.jpg">
			</div>
		</div>
	</div>
	
<script type="text/javascript" src="$SERVER_CONTEXT/js/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="$SERVER_CONTEXT/js/flat-ui.min.js"></script>
<script type="text/javascript" src="$SERVER_CONTEXT/js/module/getAll.js"></script>
<script type="text/javascript">
	var SERVER_CONTEXT =  "$SERVER_CONTEXT";
</script>
</body>
</html>